---
import AboutImage from "@components/AboutImage.astro";
import Experience from "@components/Experience.astro";
import Layout from "@layout/Layout.astro";
---

<Layout
  pageTitle="About"
  description="I am Daniel King. I live in San Francisco, where I work on my startups. "
  type="content"
  image="images/about.png"
>
  <main class="px-8">
    <AboutImage />
    <Experience />
  </main>
</Layout>
