---
import { getCollection } from "astro:content";
import Layout from "@layout/Layout.astro";
import FeaturedBlogsContainer from "@components/FeaturedBlogsContainer.astro";
import FeaturedBlogPost from "@components/FeaturedBlogPost.astro";
import MainIntro from "@components/MainIntro.astro";
import ContactForm from "@components/ContactForm.jsx";
import readingTime from "reading-time";

const allPosts = await getCollection("posts");

const lastThreePosts = allPosts
  .sort((a, b) => {
    let dateA = new Date(a.data.pubDate),
      dateB = new Date(b.data.pubDate);
    if (dateA < dateB) return 1;
    if (dateA > dateB) return -1;
    return 0;
  })
  .slice(0, 3);

---

<Layout
  pageTitle="Jared Makes"
  description="Jared is a web developer, gadget maker, martial artist, writer, chess player, cyclist, and artist (barely) who loves to make things."
  type="website"
>
  <main class="flex flex-col gap-8 items-center px-8 mx-auto max-w-[75ch]">
    <MainIntro />
    <FeaturedBlogsContainer>
      {
        lastThreePosts.map((p) => (
          <FeaturedBlogPost
            date={new Date(p.data.pubDate).toLocaleDateString("en-US", {
              month: "long",
              day: "numeric",
              year: "numeric",
            })}
            readTime={readingTime(p.body).text}
            title={p.data.title}
            description={p.data.description}
            tags={p.data.tags}
            url={"/posts/" + p.slug}
          />

        ))
      }
    </FeaturedBlogsContainer>
    <ContactForm client:visible/>

  </main>
</Layout>
