---
---

<!-- note: next time use CSS grid directly, don't mess around with relative positions -->
<div class="pt-16 sm:pb-12 md:pb-4 lg:pb-16">
  <div
    class="mx-auto mt-8 max-w-7xl lg:px-8 lg:bg-transparent bg-contentbackground"
  >
    <div class="lg:grid lg:grid-cols-12">
      <div
        class="z-10 lg:col-span-4 lg:col-start-1 lg:row-start-1 lg:py-16 lg:bg-transparent"
      >
        <div class="px-4 mx-auto max-w-xs sm:px-6 md:max-w-md lg:p-0">
          <img
            decoding="async"
            loading="lazy"
            class="object-cover object-center w-full max-w-md rounded-3xl shadow-2xl rotate-3 aspect-[1/1]"
            src="/images/about.webp"
            alt="Image of myself"
          />
        </div>
      </div>

      <div
        class="relative rounded-3xl lg:grid lg:grid-cols-10 lg:col-span-10 lg:col-start-3 lg:row-start-1 lg:items-center lg:bg-contentbackground"
      >
        <div
          class="hidden overflow-hidden absolute inset-0 rounded-3xl pointer-events-none lg:block"
          aria-hidden="true"
        >
          <svg
            class="absolute bottom-full left-full opacity-20 transform -translate-x-2/3 translate-y-1/3 xl:top-0 xl:bottom-auto xl:translate-y-0"
            width="404"
            height="384"
            fill="none"
            viewBox="0 0 404 384"
            aria-hidden="true"
          >
            <defs>
              <pattern
                id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d"
                x="0"
                y="0"
                width="20"
                height="20"
                patternUnits="userSpaceOnUse"
              >
                <rect
                  x="0"
                  y="0"
                  width="4"
                  height="4"
                  class="text-accent-500"
                  fill="currentColor"></rect>
              </pattern>
            </defs>
            <rect
              width="404"
              height="384"
              fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"></rect>
          </svg>
          <svg
            class="absolute top-full opacity-40 transform -translate-x-1/3 -translate-y-1/3 xl:-translate-y-1/2"
            width="404"
            height="384"
            fill="none"
            viewBox="0 0 404 384"
            aria-hidden="true"
          >
            <defs>
              <pattern
                id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d"
                x="0"
                y="0"
                width="20"
                height="20"
                patternUnits="userSpaceOnUse"
              >
                <rect
                  x="0"
                  y="0"
                  width="4"
                  height="4"
                  class="text-accent-500"
                  fill="currentColor"></rect>
              </pattern>
            </defs>
            <rect
              width="404"
              height="384"
              fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"></rect>
          </svg>
        </div>

        <div
          class="py-12 mx-auto space-y-6 sm:py-16 sm:max-w-3xl lg:col-span-7 lg:col-start-4 lg:max-w-none"
        >
          <h2
            class="text-4xl font-bold tracking-tighter sm:text-5xl"
            id="about-heading"
          >
            I'm Jared Truscott and I make stuff.
          </h2>
          <p class="text-lg text-primary-300 md:text-primary-100">
            Ever since I was a kid, I've been obsessed with technology. I would love to see a world where everyone has access to the tools and resources they need to create and build. A world where no one is left behind. A world where everyone can make a difference. I believe that technology is the key to making this world a reality and I'm happy to play my part.
            <br />
            <br />
          When I'm not hacking away at the keyboard, or spending time with my family, I'm probably playing a video game, or painting a miniature. I hold rank in 4 different styles of martial arts, and even have been fortunate enough to train Jiu Jitsu with some of the best in New England. I also enjoy cycling and hope to one day complete a century ride.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
