---
import SocialMediaIcons from "@components/SocialMediaIcons.astro";
import HighlightedLink from "./HighlightedLink.astro";
---

<div class="flex flex-col gap-8 items-center mx-auto mt-24">
  <div class="flex flex-col gap-2 items-center mx-auto">
    <img
      decoding="async"
      loading="lazy"
      class="w-20 h-20 rounded-full shadow-sm sm:w-28 sm:h-28 shadow-white aspect-[1/1]"
      src="/images/about.png"
      alt="Jared Truscott"
    />
    <SocialMediaIcons
      class="w-8 h-8 stroke-1 hover:cursor-pointer stroke-primary-300 hover:stroke-accent-400"
    />
  </div>
  <div class="flex flex-col gap-4 mb-2 max-w-[75ch]">
  <h2 class="text-2xl tracking-tighter sm:text-3xl -mb-4 mx-auto">Jared Truscott</h2>
    <h1 class="text-4xl font-bold tracking-tighter sm:text-5xl mx-auto">
      Web Developer
    </h1>
    <p class="text-primary-300">
      I am Jared, a maker of things. Currently
      I can be found slinging <code>divs</code> at <HighlightedLink
        href="https://mojoactive.com">MojoActive</HighlightedLink
      >. I primarily work in the <HighlightedLink
        href={"https://jamstack.org/"}
      >
        Jamstack
      </HighlightedLink>, but I'm not afraid to get my hands dirty <code>sudoing</code> into some server-side code.
      </p>
  </div>
</div>
