---
interface Project {
  name: string;
  description: string;
  link: string;
}
interface Props {
  projects: Project[];
}

const { projects } = Astro.props;
---

<ul role="list" class="grid gap-x-4 gap-y-8 grid-cols-fill-16">
  {
    projects.map((p: Project) => (
        <li class="relative w-full rounded-2xl shadow-md transition-all duration-200 ease-in-out hover:scale-105 h-[300px] shadow-black">
      <a class="transition-all group" href={p.link} target="_blank">
          <img
            decoding="async"
            loading="lazy"
            class="object-cover absolute inset-0 z-10 w-full max-w-full h-full max-h-full rounded-2xl aspect-[1/1]"
            src={`images/${p.name.replace(/ /g, "").toLowerCase()}.webp`}
            alt={`Picture of ${p.name.replace(/ /g, "").toLowerCase()}`}
          />

          <div class="flex relative z-20 flex-col gap-2 justify-end p-4 w-full h-full">
            <div class="inset-0 w-full h-full rounded-2xl progressive-blur" />
            <h2 class="text-2xl font-bold tracking-tight text-white text-shadow-name">
              {p.name}
            </h2>
            <p class="text-ellipsis line-clamp-3 text-[#e4e4e7ff] text-shadow-desc">
              {p.description}
            </p>
            <div class="flex flex-row gap-1 items-center">
              <svg
                class="w-6 h-6 hover:cursor-pointer stroke-[0.5] stroke-[#fafafaff] hover:stroke-accent-400"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <>
                  <path
                    d="M14 11.998C14 9.506 11.683 7 8.857 7H7.143C4.303 7 2 9.238 2 11.998c0 2.378 1.71 4.368 4 4.873a5.3 5.3 0 001.143.124"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M10 11.998c0 2.491 2.317 4.997 5.143 4.997h1.714c2.84 0 5.143-2.237 5.143-4.997 0-2.379-1.71-4.37-4-4.874A5.304 5.304 0 0016.857 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </>
              </svg>
              <p class="text-[#e4e4e7ff]">
                {p.link.replace(/(http(s?)):\/\//i, "").split("/")[0]}
              </p>
            </div>
          </div>
      </a>
        </li>
    ))
  }
</ul>
<style>
  .progressive-blur {
    position: absolute;
    z-index: -1;

    backdrop-filter: blur(8px);
    mask: linear-gradient(to bottom, transparent 0%, black 100%);
  }
  .text-shadow-desc {
    text-shadow: 1px 1px 4px black;
  }
  .text-shadow-name {
    text-shadow: 0px 1px 2px black;
  }
</style>
