---
import MainContainer from "@components/MainContainer.astro";
import "@fontsource/inter";
import "@fontsource/jetbrains-mono";
import { SEO } from "astro-seo";

const { pageTitle, description, type, image } = Astro.props;
---

<html lang="en" class="h-full antialiased">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={pageTitle}
      description={description}
      openGraph={{
        basic: {
          title: description,
          type: type,
          image: image || "/images/og_image.png",
        },
        image: {
          alt: "logo for jaredmakes.com",
        },
      }}

    />
    <!-- <script
      defer
      data-domain="super-solstice.vercel.app"
      src="https://plausible.andreisurugiu.com/js/script.js"
    ></script> -->
  </head>
  <body
    class="h-full sm:px-8 text-primary-100 selection:bg-accent-400 selection:text-black"
  >
    <MainContainer>
      <slot />
    </MainContainer>

    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        :root,
        .dark {
          /* basically the zinc palette */
          --primary-50: 250 250 250;
          --primary-100: 244 244 245;
          --primary-200: 228 228 231;
          --primary-300: 212 212 216;
          --primary-400: 161 161 170;
          --primary-500: 113 113 122;
          --primary-600: 82 82 91;
          --primary-700: 63 63 70;
          --primary-800: 39 39 42;
          --primary-900: 24 24 27;

          --accent-verylight: 55 55 40;
          --accent-light: 250  75 50;
          --accent-regular: 320 100 50;
          --accent-dark: 320 150 40;
          --accent-darkest: 320 150 60;

          --main-bg: #000;
          --content-bg: #0a0a0a;
          --lighter-content-bg: #121212;

          --gradient-1: rgba(0, 0, 0, 0);
          --gradient-2: rgba(0, 0, 0, 0.74);
          --gradient-3-start: hsla(230, 90%, 32%);
          --gradient-3-end: hsl(300, 93%, 54%, 0.75);
        }


      }

      html {
        background: var(--main-bg);
      }
      body {
        background: radial-gradient(
            84% 84% at -20% -20%,
            var(--main-bg) 0%,
            var(--gradient-1) 100%
          ),
          radial-gradient(
            40% 82% at 50% 50%,
            var(--gradient-2) 0%,
            var(--gradient-2) 100%
          ),
          radial-gradient(
            82% 60% at 34% 10%,
            var(--main-bg) 0%,
            var(--gradient-3-start) 46%,
            var(--gradient-3-end) 72%,
            var(--main-bg) 90%
          );
        background-repeat: no-repeat;
      }

    </style>
  </body>
</html>
